* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1: #141E30;
}

/* nav {
    background: var(--linear-grad);
    color: #FFF;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: right;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    display: inline-block;
    margin: 0px 15px;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

nav a:hover {
    color: #DDD;
}; */

body{
    background-color: #141E30;
}
.app{
    background-color: #DDD;
    width: 90%;
    max-width: 600px;
    margin:100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-weight: 25px;
    color:var(--grad-clr1);
    font-weight: 600;
    /* border-bottom: 1px solid #243B55; */
    padding-bottom: 30px;
    text-align: right;
    font-size: 25px;
}
.app img{
    width: 80px;
    border-radius: 100px;
    position: absolute;
    top: 11%;
}
.quiz{
    padding: 20px 0;

}
.quiz h2{
    font-size: 18px;
    color: var(--grad-clr1);
    font-weight: 600px;
}

.btnn{
    background: #fff;
    color:#222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin:10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btnn:hover{
    background:#222;
    color: #fff;
}
#next-btnn{
    background:#001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}