* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1: #141E30;
}

nav {
    background: var(--linear-grad);
    /* Use the linear gradient from root */
    color: #FFF;
    /* White text color */
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: right;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    display: inline-block;
    margin: 0px 15px;
}

nav a {
    text-decoration: none;
    color: inherit;
    /* Inherit color from the navbar background */
    font-weight: bold;
}

nav a:hover {
    color: #DDD;
    /* Lighter shade on hover */
}

body {
    font-family: 'Poppins', sans-serif;
};
.quiz-box{
    height: 100vh;
    background: #f6f5f7;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    width: 850px;
    height: 500px;
    background-color: #FFF;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
    display: grid;
    place-content: center;



}
.container h1{
    text-align: center;
}
.form-group{
    font-size: 25px;
}
.card {
    background-color: #FFF;
    color: var(--grad-clr1);
    width: 100%;
}
.form-check{
    border: 1px solid;
}