{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    
</head>
<body>
    <div class="start_btn" id="startBtn"><button>Start Quiz</button></div>

    <div class="info_box">
        <div class="info_title">
            <img src="photo.jpg" width="60px">
            <span>Hi, Zulfuqar Baratzade </span>
            
        </div>
        <div class="info_list">
            <div class="info">Lorem ipsum dolor sit amet.</div>
            <div class="info">Lorem ipsum <span>15 seconds</span>dolor sit amet.</div>
            <div class="info">Lorem ipsum dolor sit amet.</div>
            <div class="info">Lorem ipsum dolor sit amet.</div>
            <div class="info">Lorem ipsum dolor sit amet.</div>
        </div>
        <div class="buttons">
            <button class="quit">Exit Quiz</button>
            <button class="restart" id="cont">Contuniue</button>
        </div>
    </div>
    <!-- Quiz Box -->
    <div class="quiz_box">
        <header>
            <div class="title">
                <img src="{% get_media_prefix %}photo.jpg" width="50px">
                <p>Zulfuqar Baratzade</p>
            </div>
            <div class="timer">
                <div class="time_text">Time Left</div>
                <div class="time_sec" id="countdown">90:00</div>
            </div>
        </header>
        <section>
            <div class="que_text" id="question">
                <span></span>
                <i class="bi bi-check2-circle"></i>
            </div>
            <div class="option_list" id="optionsContainer">
                <div class="option">
                    <span></span>
                </div>
                <div class="option">
                    <span></span>
                </div>
                <div class="option">
                    <span></span>
                </div>
                <div class="option">
                    <span></span>
                </div>
            </div>            
        </section>
        
        <footer>
            <div class="total_que">
                <span><p id="question_num">1</p>of<p id="total_question"></p>Questions</span>
            </div>
            <div class="period_button">
                <button class="previous_btn" id="previous_btn">Previous</button>
                <button class="next_btn" id="next_btn">Next</button>
                <button class="submit_btn" id="submit_btn">Submit</button>

            </div>
        </footer>
    </div>
   
    <script src="{% static 'script.js' %}"></script>
    <!-- <script>
        function openCamera() {
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        var video = document.getElementById('video');
                        video.srcObject = stream;
                        video.play();
                    })
                    .catch(function (error) {
                        console.log("Unable to open camera: " + error);
                    });
            }
        }
        window.onload = function() {
            openCamera();
        };
    </script> -->
</body>
</html>